{% extends 'home.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<script>
$( document ).ready(function() {
    
    //POPULATE SEARCH BAR
    function LoadSearch(){
        var dataList = $('#datalistOptions');
        dataList.empty();
        var products = {{render('/produit/ProductSearchList', options = [])}};
        $.each(products, function(i, item) {
            var list = '<option value="'+ products[i].name +'">';
            dataList.append(list);
        });
    }
    //POPULATE TABLE FUNCTION
    function loadTable(order, page){        
        var tableBody = $("#produits tbody");
        tableBody.empty();
        $('#pagination').empty();
        //FIRST LOAD
        if(typeof order === 'undefined' && typeof page === 'undefined'){
            
            var total = {{render('produit/count', options = [])}};
            //CREATE PAGINATION
            for (let i = 0; i < total; i++){
                var pageNum = i+1;
                var active;
                if(i==0){
                    active = 'active';
                }else{
                    active ='';
                }
                $('#pagination').append('<li class="page-item"><a class="page-link '+ active +'" value="'+ pageNum +'" href="#">'+ pageNum +'</a></li>')
            }
            //POPULATE TABLE
            var products = {{render('produit/all', options = [])}};
            $.each(products, function(i, item) {
                var table = '<tr><td>'+products[i].id+'</td><td>'+products[i].name+'</td><td>'+products[i].price+'</td><td>'+products[i].createdAt+'</td></tr>';
                tableBody.append(table);
            });
        }else{
            
            var total = {{render('produit/count', options = [])}};
        //LOAD PAGE + ORDER BY PRICE
            for (let i = 0; i < total; i++){
                var pageNum = i+1;
                var active;
                if(i== page-1){
                    active = 'active';
                }else{
                    active ='';
                }
                $('#pagination').append('<li class="page-item"><a class="page-link '+ active +'" value="'+ pageNum +'" href="#">'+ pageNum +'</a></li>')
            }
            var products = "{{url('getPage')}}";
            $.ajax({
                type: "POST",
                url: "{{ url('getPage') }}",
                data: {orderBy: order, pagination : page-1},
                success: function(data)
                {
                    var products = data;
                    $.each(products, function(i, item) {
                        var html = '<tr><td>'+products[i].id+'</td><td>'+products[i].name+'</td><td>'+products[i].price+'</td><td>'+products[i].createdAt+'</td></tr>';
                        tableBody.append(html);
                    });
                }, 
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log(XMLHttpRequest);
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                }    
            });
        };
    };
    //PAGINATION
    $('#pagination').on("click", "li.page-item",function(){
        var page = $(event.target).attr('value');
        var order = $('#select').find(":selected").val();
        if(order == '---'){
            order = '';
        }
        loadTable(order, page);
        LoadSearch();
    })
    //ORDER PRICE
    $('#select').change(function(){
        var order = $('#select').find(":selected").val();
        loadTable(order, 1);
        LoadSearch();
    })
    //ADD PRODUCT
    $('#ajouter').click(function(){
        var form = $('#form');
        var actionUrl = form.attr('action');
        
        $.ajax({
            type: "POST",
            url: "{{ url('add_product') }}",
            data: form.serialize(),
            success: function(data)
            {
                console.log(data);
                $('#modal').modal('toggle');
                alert('Votre produit a bien été ajouté!');
                loadTable();
                LoadSearch();
            }, 
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                console.log(XMLHttpRequest);
                alert("Status: " + textStatus); alert("Error: " + errorThrown); 
            }    
        });
        return false;
    });

    //SEARCH BAR
    $('#search').keyup(function(event){
        var dInput = this.value;
        $.ajax({
            type: "POST",
            url: "{{ url('ProductSearch') }}",
            data: {search : dInput},
            success: function(data)
            {
                console.log(data);
                var tableBody = $("#produits tbody");
                tableBody.empty();
                $.each(data, function(i, item) {
                    var html = '<tr><td>'+data[i].id+'</td><td>'+data[i].name+'</td><td>'+data[i].price+'</td><td>'+data[i].createdAt+'</td></tr>';
                    tableBody.append(html);
                });
            }, 
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                console.log(XMLHttpRequest);
                alert("Status: " + textStatus); alert("Error: " + errorThrown); 
            }    
        });
    });

    //INITIALISATION
    loadTable();
    LoadSearch();
});

</script>
<div class="container">
    <div class="col-md-12" style="margin:25px 0">
        <h1>Liste des produits</h1>
    </div>
    <div class="col-md-12">
        <div class="row" style="margin: 50px 0">
            <!-- Button trigger modal -->
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
                    Ajouter un produit
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal">Ajouter un produit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{{ url('add_product') }}" methode="POST" id="form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="NomProduit" class="form-label">Nom du produit</label>
                                    <input name="NomProduit" type="text" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="Price" class="form-label">Prix</label>
                                    <input name="Price" type="text" class="form-control">
                                </div>                            
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="ajouter" class="btn btn-primary">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Search bar -->
            <div class="col-md-6">
                <input class="form-control" list="datalistOptions" id="search" value="" placeholder="Recherche par nom">
                <datalist id="datalistOptions">
                </datalist>
            </div>
        </div>
        <!-- Table -->
        <table class="table" id="produits">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Date d'ajout</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        
        <div class="row" style="margin:50px 0">
            <!-- Pagination -->
            <div class="col-md-6">
                <nav>
                    <ul class="pagination" id="pagination">
                        
                    </ul>
                </nav>
            </div>
            <!-- Order -->
            <div class="col-md-6">
                <select id="select" class="form-select" aria-label="Default select example">
                    <option value='---' selected>Choisissez l'ordre des prix (ordonné par nom)</option>
                    <option value="ASC">Prix ascendant</option>
                    <option value="DESC">Prix décendant</option>
                </select>
            </div>
        </div>
    </div>
</div>
{% endblock %}
